*{
    font-family: 'Open Sans', sans-serif;
    margin: 0 ;
    padding: 0;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{

    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    color: #fff;
    background-color: #FD6E0A;

}
/* header and navigation  style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title {
    font-weight: 800; 
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    
}

.text-primary{
    color: #FD6E0A;
}
.bannar{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.bannar-title{
    font-weight: 700;
    font-size: 50px;
}
.bannar-sub-title{
    font-weight: 600;
    font-size: 45px; 

}
.bannar-description{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    text-align: center;
font-weight: 700;
font-size: 35px;
margin-bottom: 50px;
}
.section-description{
font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
.about-info-container{
display: flex;
justify-content: space-around;
}
/* .about-info{
    
} */
 .about .info-title{
font-size: 20px;
color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
.whart-i-do{

margin-top: 130px;
margin-top: 70px;
}
.skills-container{
    gap: 24px;
    display: flex;
   

}
.skills{
    box-shadow: 0px 6px rgb(0, 0, 0, 0.06);
    border-radius: 5px;
    background: #FFFF;
    /* background-color: #FD6E0A; */
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-title{
 font-weight: 700;
 font-size: 20px;
}
.skill-description{
color: #474747;
}
/* resume section */
.resume{
    margin-top: 130px; 
    margin-bottom: 50px;
}
.resume-container{
   
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-top: 30px;
}
.resume .title{
    font-weight: 700;
 font-size: 25px;
 
 margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
 font-size: 20px;
 margin-bottom: 20px;
 color: #474747;

}
.resume .description{
    color: #757575;

}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 150px;
    margin-bottom: 60px;
}
/* contact section */
.contact .section-title{
    text-align: left;
}
.contact, input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}